
# This file contains common pin mappings for the BigTreeTech Kraken.
# To use this config, the firmware should be compiled for the STM32H723Z6 with a "128KiB bootloader"
# Enable "extra low-level configuration options" and select the "25MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the Kraken with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON Trident 250/300/350mm BigTreeTech Kraken

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Hotend heater pin                    [extruder] section
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Stepper Z1 enable pin                [stepper_z1] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section


[include stealthburner_leds.cfg]
[include macros.cfg]
#[include FROS.cfg]
#[include mmu/base/*.cfg]
#[include mmu/addons/mmu_erec_cutter.cfg]
#[include mmu/optional/client_macros.cfg]
[include shell_command.cfg]

[auto_speed]
axis: diag_x, diag_y  ; One or multiple of `x`, `y`, `diag_x`, `diag_y`, `z`

margin: 20            ; How far away from your axes to perform movements

settling_home: 1      ; Perform settling home before starting Auto Speed
max_missed: 1.0       ; Maximum full steps that can be missed
endstop_samples: 3    ; How many endstop samples to take for endstop variance

accel_min: 1000.0     ; Minimum acceleration test may try
accel_max: 50000.0    ; Maximum acceleration test may try
accel_accu: 0.05      ; Keep binary searching until the result is within this percentage

velocity_min: 50.0    ; Minimum velocity test may try
velocity_max: 5000.0  ; Maximum velocity test may try
velocity_accu: 0.05   ; Keep binary searching until the result is within this percentage

derate: 0.8           ; Derate discovered results by this amount

#validate_margin: Unset      ; Margin for VALIDATE, Defaults to margin
validate_inner_margin: 20.0 ; Margin for VALIDATE inner pattern
validate_iterations: 50     ; Perform VALIDATE pattern this many times

results_dir: ~/printer_data/config ; Destination directory for graphs


[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_33001D001551313338343730-if00
restart_method: command
##--------------------------------------------------------------------


[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_31343633321133DB-if00 
restart_method: command
##--------------------------------------------------------------------



[printer]
kinematics: corexy
max_velocity: 1000  
max_accel: 15000           #Max 4000
max_z_velocity: 40          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 200
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to Motor_1-S1
##  Endstop connected to MIN1
[stepper_x]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PE6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: nhk:gpio13
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
##--------------------------------------------------------------------

##  Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##  Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 125   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##  TMC2160 configuration
[tmc5160 stepper_x]
cs_pin: PD6
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 2
stealthchop_threshold: 0
##  sensorless homing, plug in jumper on M2-DIAG
diag1_pin: ^!PC15
driver_SGT: 1

##  A Stepper - Right
##  Connected to Motor_2-S2
##  Endstop connected to MIN2
[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: PF0
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
##--------------------------------------------------------------------

##  Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
position_endstop: 300
position_max: 300

##  Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 125  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##  TMC2160 configuration
[tmc5160 stepper_y]
cs_pin: PD5
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.022
run_current: 2
stealthchop_threshold: 0
##  sensorless homing, plug in jumper on M2-DIAG
#diag1_pin: PF0
diag1_pin: ^!PF0
driver_SGT: 1
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to Motor_5-S5
##  Endstop connected to MIN3
[stepper_z]
step_pin: PG9
dir_pin: PG10
enable_pin: !PG13
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 32
#endstop_pin: PF1
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 0
## All builds use same Max Z
position_max: 290
position_min: -3.5
homing_speed: 30 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  TMC2160 configuration
[tmc5160 stepper_z]
cs_pin: PD2
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to Motor_6-S6
[stepper_z1]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##  TMC2160 configuration
[tmc5160 stepper_z1]
cs_pin: PA15
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to Motor_7-S7
[stepper_z2]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##  TMC2160 configuration
[tmc5160 stepper_z2]
cs_pin: PA9
interpolate: false
spi_software_miso_pin: PC7
spi_software_mosi_pin: PC8
spi_software_sclk_pin: PC6
sense_resistor: 0.075
run_current: 0.800
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_3-S3
##  Heater - HE0
##  Thermistor - TH0
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
pullup_resistor: 2200
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type: MAX31865
#sensor_pin: PC9
#spi_bus: spi3a
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2
sensor_type: Generic 3950



min_temp: -100
max_temp:350
max_power: 1.0
min_extrude_temp: -100
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
pressure_advance: 0.04
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 100

##  E0 on MOTOR_3-S3
##  TMC2160 configuration
[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
run_current: 0.85
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - THB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PF6
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
#heater_pin: PF5
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
#sensor_type:
sensor_type: Generic 3950
sensor_pin: PB0
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 0.9
min_temp: -120
max_temp: 125
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

##  Inductive Probe - IND-DET
##  This probe is not used for Z height, only Quad Gantry Leveling
[probe]

#--------------------------------------------------------------------

## Select the probe port by type:
## For the IND-DET port. Will work without a Diode. Install jumper if prove is NC. Remove jumper if probe is NO.
#pin: ~!PD11
pin: !nhk:gpio10

#--------------------------------------------------------------------

x_offset: 0
y_offset: 0
#z_offset: 0
speed: 5
samples: 3
samples_result: median
sample_retract_dist: 1.5
samples_tolerance: 0.006
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 215 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
[fan]
pin:nhk:gpio6
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10


##  Hotend Fan - FAN1
[heater_fan hotend_fan]
pin: nhk:gpio5
#tachometer_pin: nhk:gpio16
#tachometer_ppr: 2
#tachometer_poll_interval: 0.00156
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PA2
kick_start_time: 0.5
heater: heater_bed

[fan_generic nevermore]
##  Nevermore - FAN3
pin: PA3
max_power: 1.0


##  Exhaust fan - FAN3
#[heater_fan exhaust_fan]
#pin: PA.
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PF9
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01


[output_pin caselight]
## Chamber Lighting - FAN5
pin: PF9
pwm: true
cycle_time: 0.001
scale: 100
value: 10

[output_pin act_led]
pin: !nhk:gpio8

#####################################################################
# 	Additional Sensors
#####################################################################

[temperature_sensor Middle_Chamber]
## Chamber Temperature - T1
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor Top_Chamber]
## Chamber Temperature - T2
sensor_type: Generic 3950
sensor_pin: PC5
min_temp: 0
max_temp: 100
#gcode_id: chamber_th

[temperature_sensor raspberry_pi]
## Pi Temp
sensor_type: temperature_host
min_temp: 10
max_temp: 85

[temperature_sensor mcu_temp]
## Octopus Temp
sensor_type: temperature_mcu
min_temp: 10
max_temp: 85

[temperature_sensor nhk]
sensor_type: temperature_mcu
sensor_mcu: nhk
min_temp: 0
max_temp: 110


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 7200

[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
home_xy_position:150,150
speed:150
z_hop:5

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
#z_positions:
#    -50, 18
#    125, 298
#    300, 18
#points:
#    30, 5
#    125, 195
#    220, 5

## Uncomment below for 300mm build
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5

## Uncomment below for 350mm build
#z_positions:
#   -50, 18
#   175, 398
#   400, 18
#points:
#   30, 5
#   175, 295
#   320, 5


##--------------------------------------------------------------------

speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.006

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1


[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: nhk:gpio21
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20  # an example

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.785
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.002400, -0.010725, -0.012600, -0.015725, 0.013025, -0.006975, -0.016350
#*# 	-0.016975, -0.027600, -0.025100, -0.018225, -0.011350, -0.031350, -0.030725
#*# 	-0.046975, -0.063225, -0.048850, -0.058850, -0.043225, -0.060725, -0.053225
#*# 	-0.081350, -0.071975, -0.071975, -0.078850, -0.067600, -0.064475, -0.079475
#*# 	-0.054475, -0.034475, -0.066975, -0.048225, -0.018225, -0.051975, -0.068225
#*# 	-0.032600, -0.020725, 0.003650, 0.013650, 0.004900, -0.008225, -0.038225
#*# 	0.039900, 0.081775, 0.093650, 0.109900, 0.131775, 0.073650, 0.043025
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = 15.0
#*# max_x = 279.96
#*# min_y = 15.0
#*# max_y = 279.96
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 56.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 42.0
